<ul style="list-style: none;">
<%= form_for @trip do |f| %>
  <li><%= f.label :name %>:</li>
  <li><%= f.text_field :name %></li>

  <li><%= f.label :description %>:</li>
  <li><%= f.text_field :description %></li>

  <li><%= f.label :origin %>:</li>
  <li><%= f.text_field :origin %></li>

  <li><%= f.label :destination %>:</li>
  <li><%= f.text_field :destination %></li>

  <li><%= f.submit  class: 'btn btn-primary' %></li>
<% end %>
</ul>