<ul style="list-style: none;">
<%= form_for @trip do |f| %>
  <li><%= f.label :name%>:</li>
  <li><%= f.text_field :name, :required => true %></li>

  <li><%= f.label :description %>:</li>
  <li><%= f.text_field :description, class: 'places' %></li>

  <li><%= f.label :origin %>:</li>

  <li><%= f.text_field :origin, :required => true, class: 'places' %></li>

  <li><%= f.label :destination %>:</li>
  <li><%= f.text_field :destination, :required => true, class: 'places' %></li>


<!-- DATES -->
<%= fields_for :proposed_dates do |proposed_dates_form| %>
    <li><%= proposed_dates_form.label :start %></li>
    <li><%= proposed_dates_form.text_field :start, :required => true, :date_cannot_be_in_the_past => true, placeholder: "Start Date here", "data-provide" => "datepicker" %></li>
    <li><%= proposed_dates_form.label :end %></li>
    <li><%= proposed_dates_form.text_field :end, :required => true, placeholder: "End Date here",  "data-provide" => "datepicker" %></li>
<% end %>


	<li><%= f.submit  class: 'btn btn-primary' %></li>
<% end %>
</ul>
