<ul style="list-style: none;">
<%= form_for @trip do |f| %>
  <li><%= f.label :name %>:</li>
  <li><%= f.text_field :name %></li>

  <li><%= f.label :description %>:</li>
  <li><%= f.text_field :description %></li>

  <li><%= f.label :origin %>:</li>
  <li><%= f.text_field :origin %></li>

  <li><%= f.label :destination %>:</li>
  <li><%= f.text_field :destination %></li>

<!-- DATES -->
<%= fields_for :proposed_dates do |proposed_dates_form| %>
    <li><%= proposed_dates_form.label :start %></li>
    <li><%= proposed_dates_form.text_field :start, placeholder: "Start Date here", "data-provide" => "datepicker" %></li>
    <li><%= proposed_dates_form.label :end %></li>
    <li><%= proposed_dates_form.text_field :end, placeholder: "End Date here",  "data-provide" => "datepicker" %></li>
<% end %>


	<li><%= f.submit  class: 'btn btn-primary' %></li>
<% end %>
</ul>
