<section class="top-section edit-board">
	<h2 class="divided">Trip to <%= @trip.name %><span>Let's Plan It!</span> </h2>
	<div class="row">
		<section class="board-panel col-md-4">
			<div class="panel-group" id="accordion">
				<!-- TRIP INFO -->
				<div class="panel panel-default">
				  <a data-toggle="collapse" data-parent="#accordion" href="#info">
				    <div class="panel-heading">
				      <h4 class="panel-title"><i class="fa fa-suitcase"></i> Trip Info</h4>
				    </div>
				  </a>
					<div id="info" class="panel-collapse collapse in">
					  <div class="panel-body">
					    <p class="text-muted"><%= @trip.description %></p>
					    <ul>
								<li><%= @trip.origin %> to <%= @trip.destination %></li>
								<li><i class="fa fa-calendar"></i> <%= @trip.start_date %><!-- @trip.proposed_date.start--> - <%= @trip.end_date %><!-- @trip.proposed_date.end --></li>
							</ul>
					  </div>
					</div><!--c1 -->
				</div>
				<!-- MEMBERS -->
				<div class="panel panel-default">

				  <a data-toggle="collapse" data-parent="#accordion" href="#members">
				    <div class="panel-heading">
				      <h4 class="panel-title"><i class="fa fa-users"></i>Who is Coming?</h4>
				    </div>
				  </a>
		      <div id="members" class="panel-collapse collapse"> 
		        <div class="panel-body">
		          <h5 class="title-sm-v2">Invite your Friends:</h5>
		           <i class="fa fa-spinner fa-spin fa-5x fa-align-center"></i>
              <div class="container panel">
		          	<ul>
							  <form action="/trips/<%=@trip.id%>" method="POST">
                <fieldset>
                <li class="email-fld"><span class="pic-thumb"><i class="fa fa-user"></i></span><input type="email" name="email[]" placeholder="friend@friend.com" id="email1">
                </li>
                <li class="email-fld"><span class="pic-thumb"><i class="fa fa-user"></i></span><input type="email" name="email[]" placeholder="friend@friend.com" id="email2">
                </li>

                 <li class="email-fld"><span class="pic-thumb"><i class="fa fa-user"></i></span><input type="email" name="email[]" placeholder="friend@friend.com" id="email3"></li>
                </fieldset>
                <fieldset>
							    <!-- <li><span class="pic-thumb"><i class="fa fa-user-plus"></i></span></i><%= link_to 'Invite More', id: "add-email", :path => '#' %></li> -->
                  <li><span class="pic-thumb"><i class="fa fa-user-plus"></i></span></i>
                  <a href="/" class="add-email">Invite More Friends</a></li>
							    	<li class="col-md-6">
						    
                <input type="submit" class="btn btn-primary" id="invite"></li>
                </fieldset>
                </form>
              
							  </ul>
							</div>
		        </div>
            <div> 
             <strong> Invited:</strong> <br>
                <% @trip.invited?.each do |invitee|%>
                <%=invitee%> <br>
                <%end %>
                </div>
                <div> 
             <strong> Confirmed:</strong> <br>
                <% @trip.members.each do |member|%>
                <%=member.email%> <br>
                <%end %>
                </div>
		      </div><!--members-->
	  		</div><!--panel -->
	  		<!-- TRANSPORTATION -->
<div class="panel panel-default">
  <a data-toggle="collapse" data-parent="#accordion" href="#transportation">
    <div class="panel-heading">
      <h4 class="panel-title"><i class="fa fa-car"></i> How are we going?</h4>
    </div>
  </a>
  <div id="transportation" class="panel-collapse collapse">
    <div class="panel-body">
    	<ul class="row icons">
				<li class="col-md-3 selected"><i class="fa fa-check-square-o"></i> <i class="fa fa-car"></i></li>
				<li class="col-md-3"><i class="fa fa-square-o"></i> <i class="fa fa-bus"></i></li>
				<li class="col-md-3"><i class="fa fa-square-o"></i> <i class="fa fa-train"></i></li>
				<li class="col-md-3"><i class="fa fa-square-o"></i> <i class="fa fa-rocket"></i></li>
			</ul>
			<% if @cars %>
			<% @cars.each do |car| %>
      <ul id="carRental"class="row">
      	<li class="item-info col-md-8">
					<ul class="row rentals">
						<li><h4><%= car[:type] %></h4></li>
						<li class="col-md-6 lbl">Passengers:</li>
							<li class="col-md-6"><%= car[:passengers] %></li>
						<li class="col-md-6 lbl">Milage</li>
							<li class="col-md-6"><%= car[:milage] %></li>
						<li class="col-md-6 lbl">Pickup:</li>
							<li class="col-md-6"><%= car[:pickup] %></li>
					</ul>
      	</li>
				<li class="item-snap col-md-4">
					<div class="thumbnail">
						<%= image_tag car[:image], style: 'width: 100%; height: auto;' %>
					</div>

					<div>
						<h3>$<%= car[:price] %></h3>
						<h4><%= link_to 'Rent It!', car[:link], target: "new" %></h>
					</div>
				</li>
				
      </ul>
      <% end %> <% else %>
      <h3>You can't travel to the past!</h3>
      <% end %>
    </div>
  </div>
</div>
				<!-- ACCOMODATION -->
				<div class="panel panel-default">
		      <a data-toggle="collapse" data-parent="#accordion" href="#accomodation">
	          <div class="panel-heading">
	            <h4 class="panel-title"><i class="fa fa-bed"></i> Where are we staying?</h4>
	          </div>
		      </a>
		      <div id="accomodation" class="panel-collapse collapse">
		        <div class="panel-body">
		          
		         </div>
		      </div>
		  	</div>
		  	<!-- ITEMS -->
				<div class="panel panel-default">
		      <a data-toggle="collapse" data-parent="#accordion" href="#items">
	          <div class="panel-heading">
	            <h4 class="panel-title"><i class="fa fa-list"></i>Things to Bring</h4>
	          </div>
		      </a>
		      <div id="items" class="panel-collapse collapse">
		        <div class="panel-body">
		          <h5 class="title-sm-v2">Anim pariatur cliche, enim eiusmod high life?</h5>
		         </div>
		      </div>
		  	</div>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-list"></i><%=link_to "Delete Trip",  trip_path(@trip), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%></h4>
        </div>
      </div>
			</div>
		</section>

  <!-- GOOGLEMAPS -->  


  <!-- GOOGLEMAPS -->  
    <section class="board-bgd col-md-8">

  <script src="https://maps.googleapis.com/maps/api/js?key=" + ENV[MAPS_KEY]></script>

<script type="text/javascript">
   var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;

    function initialize() {
      directionsDisplay = new google.maps.DirectionsRenderer();
      var thehome = new google.maps.LatLng(40.4764, -106.8267);
      var mapOptions = {
        zoom:7,
        center: thehome
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      directionsDisplay.setMap(map);
      calcRoute();
    }

    function calcRoute() {
      var start = document.getElementById('start').value;
      var end = document.getElementById('end').value;
      var request = {
          origin:start,
          destination:end,
          travelMode: google.maps.TravelMode.DRIVING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    }

google.maps.event.addDomListener(window, 'load', initialize);

</script>
  
    <div id="panel">
    <form>
      Start:<br>
       <input id="start" type="text" name="end" value="<%= @trip.origin%>"><br>
      End:<br>
       <input id="end" type="text" name="end" value="<%= @trip.destination%>">
  </form>

  </div>
   

  <div id="map-canvas"></div>
    
</section>
    <!-- END GOOGLEMAPS -->






<!-- END GOOGLEMAPS -->




	</div>
</section>
<section class="section-xlg container">
  <h2 class="lg-title">Trip Journal</h2>
  <p class="lg-subtitle text-center">Post comments, pics and memories!</p>
  <div class="space-lg"></div>
    <div class="md-overlay"></div>
    <div class="timeline" id="newsFeed">
      <div class="label-month">September 2014</div>
        <div class="row box-feed">
          <div class="col-sm-6">
            <div class="box-post left">
              <div class="space-md"></div>
                <h3>Top 10 places to Visit</h3>
                <p class="text-block">Food Market, Aquarium, bla, bla, bla</p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="box-post right">
              <%= image_tag 'pics/roadtrip600X300.jpg' %>
              <div class="space-md"></div>
              <h3>Day 2</h3>
              <p class="text-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam posuere lacus quis dolor. Integer imperdiet lectus quis justo. Ut enim ad minima veniam.</p>
            </div>
          </div>
        </div>
        <div class="row box-feed">
          <div class="col-sm-6">
            <div class="box-post left">
              <div class="space-md"></div>
                <h3>Top 10 places to Visit</h3>
                <p class="text-block">Food Market, Aquarium, bla, bla, bla</p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="box-post right">
              <%= image_tag 'pics/roadtrip600X300.jpg' %>
              <div class="space-md"></div>
              <h3>Day 2</h3>
              <p class="text-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam posuere lacus quis dolor. Integer imperdiet lectus quis justo. Ut enim ad minima veniam.</p>
            </div>
          </div>
        </div>
    </div><!-- timeline -->
</section>






