<section class="top-section edit-board" id="trip-edit-page">

	<h2 class="divided"><%= @trip.name.upcase %><span>Let's Plan It!</span> </h2>
	<div class="row">
		<section class="board-panel col-md-4">
			<div class="panel-group" id="accordion">
				<!-- TRIP INFO -->
				<div class="panel panel-default">
				  <a data-toggle="collapse" data-parent="#accordion" href="#info">
				    <div class="panel-heading">
				      <h4 class="panel-title"><i class="fa fa-suitcase"></i> Trip Info</h4>
				    </div>
				  </a>
					<div id="info" class="panel-collapse collapse in">
					  <div class="panel-body">
					    <p class="text-muted"><%= @trip.description %></p>
					    <ul>
								<li><%= @trip.origin %> to <%= @trip.destination %></li>
								<li><i class="fa fa-calendar"></i> <%= @trip.start_date %><!-- @trip.proposed_date.start--> - <%= @trip.end_date %><!-- @trip.proposed_date.end --></li>
							</ul>
					  </div>
            <!-- add proposed date -->
              <button id="suggest-date" class="btn">Suggest a new Date</button>
              <div  id="propPanel"class="proposed-dates" >

               <%#= fields_for :proposed_dates do |proposed_dates_form| %>
               <%= form_for @proposed_date, remote: true, url: {action: :new_date, controller: :proposed_dates}, method: :post do |proposed_dates_form| %>
                   <%= proposed_dates_form.hidden_field :trip_id, value: @trip.id %>
                   <%= proposed_dates_form.text_field :start, placeholder: "Start Date here", "data-provide" => "datepicker" %>
                   <%= proposed_dates_form.text_field :end, placeholder: "End Date here",  "data-provide" => "datepicker" %>

                   <%= proposed_dates_form.submit  class: 'btn btn-primary' %>
               <% end %>
             </div>
            <!-- end -->
            <!-- proposed dates -->
            <ul id="dates-box" class="sub-panel">
             <!--  <h4>Proposed Dates</h4> -->
                <li>Suggested Dates:</li>
              <% @trip.proposed_dates.each do |date| %>
                <% if @trip.proposed_dates.first == date %>

                <% else %>
                  <li><%= date.start %>, <%= date.end %> by <%= User.find(date.user_id).name %></li>
                <% end %>
              <% end %>
            </ul>
            <!-- end -->
          </div><!--c1 -->

				</div>
				<!-- MEMBERS -->
				<div class="panel panel-default">
				  <a data-toggle="collapse" data-parent="#accordion" href="#members">
				    <div class="panel-heading">
				      <h4 class="panel-title"><i class="fa fa-users"></i>Who is Coming?</h4>
				    </div>
				  </a>
		      <div id="members" class="panel-collapse collapse">
		        <div class="panel-body">
		          <h5 class="title-sm-v2">Invite your Friends:</h5>
		           <i class="fa fa-spinner fa-spin fa-5x fa-align-center"></i>
              <div class="container panel">
		          	<ul>
							  
                <form action="/trips/<%=@trip.id%>" method="POST" data-remote="true">
		          	<ul id="friendsList">
							  <form action="/trips/<%=@trip.id%>" method="POST">
                <fieldset>
                <li class="email-fld"><span class="pic-thumb"><i class="fa fa-user"></i></span><input type="email" name="email[]" placeholder="friend@friend.com" id="email1">
                </li>
                <li class="email-fld"><span class="pic-thumb"><i class="fa fa-user"></i></span><input type="email" name="email[]" placeholder="friend@friend.com" id="email2">
                </li>

                 <li class="email-fld"><span class="pic-thumb"><i class="fa fa-user"></i></span><input type="email" name="email[]" placeholder="friend@friend.com" id="email3"></li>
                </fieldset>
                <fieldset>
                  <li><span class="pic-thumb"><i class="fa fa-user-plus"></i></span></i>
                  <a href="/" class="add-email">Invite More Friends</a></li>
							    	<li class="col-md-6">

                <input type="submit" class="btn btn-primary" id="invite" remote="true"></li>
                </fieldset>
                </form>

							  </ul>
							</div>
		        </div>

            <div class="container">
              <div>
               <strong> Invited:</strong> <br>
              <div class="sub-panel" id="invited">
               <em> Invited:</em> <br>
                  <% @trip.invited?.each do |invitee|%>
                  <%=invitee%> <br>
                  <%end %>
              </div>
              <div class="sub-panel">
               <em> Confirmed:</em> <br>
                  <% @trip.members.each do |member|%>
                  <%=member.email%> <br>
                  <%end %>
              </div>
            </div>

		      </div><!--members-->
	  		</div><!--panel -->
	  		<!-- TRANSPORTATION -->
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#transportation">
            <div class="panel-heading">
              <h4 class="panel-title"><i class="fa fa-car"></i> How are we going?</h4>
            </div>
          </a>
          <div id="transportation" class="panel-collapse collapse">
            <div class="panel-body">
            	<ul class="row icons">
        				<li class="col-md-3 selected"><i class="fa fa-check-square-o"></i> <i class="fa fa-car"></i></li>
        				<li class="col-md-3"><i class="fa fa-square-o"></i> <i class="fa fa-bus"></i></li>
        				<li class="col-md-3"><i class="fa fa-square-o"></i> <i class="fa fa-train"></i></li>
        				<li class="col-md-3"><i class="fa fa-square-o"></i> <i class="fa fa-rocket"></i></li>
        			</ul>
        			<% if @cars %>
        			<% @cars.each do |car| %>
              <ul id="carRental"class="row">
              	<li class="item-info col-md-8">
        					<ul class="row rentals">
        						<li><h4><%= car[:type] %></h4></li>
        						<li class="col-md-6 lbl">Passengers:</li>
        							<li class="col-md-6"><%= car[:passengers] %></li>
        						<li class="col-md-6 lbl">Milage</li>
        							<li class="col-md-6"><%= car[:milage] %></li>
        						<li class="col-md-6 lbl">Pickup:</li>
        							<li class="col-md-6"><%= car[:pickup] %></li>
        					</ul>
              	</li>
        				<li class="item-snap col-md-4">
        					<div class="thumbnail">
        						<%= image_tag car[:image], style: 'width: 100%; height: auto;' %>
        					</div>

        					<div>
        						<h3>$<%= car[:price] %></h3>
        						<h4><%= link_to 'Rent It!', car[:link], target: "new" %></h4>
        					</div>
        				</li>

              </ul>
              <% end %> <% else %>
              <h3>You can't travel to the past!</h3>
              <% end %>
            </div>
          </div>
        </div>
				<!-- ACCOMODATION -->
				<div class="panel panel-default">
		      <a data-toggle="collapse" data-parent="#accordion" href="#accomodation">
	          <div class="panel-heading">
	            <h4 class="panel-title"><i class="fa fa-bed"></i> Where are we staying?</h4>
	          </div>
		      </a>
          <div id="accomodation" class="panel-collapse collapse">
            <div class="panel-body">
              <h5 class="title-sm-v2">Add Your AirBNB locations:</h5>
              <div class="container panel">
                <ul>
                <%= form_for @link, remote: true, url: {action: :hotels, controller: :links}, method: :post do |f| %>
                    <li><%= f.label :links %>:</li>
                    <%= f.hidden_field :trip_id, value: @trip.id %>
                    <li><span class="pic-thumb"><i class="fa fa-thumb-tack"></i></span><%= f.text_field :urls, name: "urls[]" %></li>
                    <li><span class="pic-thumb"><i class="fa fa-thumb-tack"></i></span><%= f.text_field :urls, name: "urls[]" %></li>
                    <li><span class="pic-thumb"><i class="fa fa-thumb-tack"></i></span><%= f.text_field :urls, name: "urls[]" %></li>
                    <li class="col-md-6"><%= f.submit 'Save Places', :class => 'btn btn-primary' %></li>
                <% end %>
                </ul>
              </div>
            </div>
          </div><!--members-->
		      <div id="accomodation" class="panel-collapse collapse">
		        <div class="panel-body">

		         </div>
		      </div>
		  	</div>
		  	<!-- ITEMS -->
				<div class="panel panel-default">
		      <a data-toggle="collapse" data-parent="#accordion" href="#items">
	          <div class="panel-heading">
	            <h4 class="panel-title"><i class="fa fa-list"></i>Group Costs</h4>
	          </div>
		      </a>
		      <div id="items" class="panel-collapse collapse">
		        <div class="panel-body">
              <h5 class="title-sm-v2">Add Any Items You Paid for!</h5>
              <div class="container panel">
                <ul>
                <%= form_for @group_cost, remote: true, url: {controller: :group_costs}, method: :post do |f| %>
                    <li><%= f.label :costs %>:</li>
                    <%= f.hidden_field :trip_id, value: @trip.id %>
                    <li><span class="pic-thumb"><i class="fa fa-thumb-tack"></i></span><%= f.text_field :item, name: "cost[item]", placeholder: "Item" %></li>
                    <li><span class="pic-thumb"><i class="fa fa-thumb-tack"></i></span><%= f.text_field :price, name: "cost[price]", placeholder: "Price" %></li>
                    <li class="col-md-6"><%= f.submit 'Save Cost', :class => 'btn btn-primary' %></li>
                <% end %>
                </ul>
              </div>
            </div>

            <div class="container">
              <div class="sub-panel">
               <em> Group Costs</em> <br>
               <% if @trip.group_costs.count >0 %>
                  <% @trip.group_costs.each do |cost| %>
                    <% user = User.find(cost.user_id) %>
                    <%= cost.item%> : $<%= cost.price %> (<%= user.name %>) <br>
                  <%end %>

                  <br>

                  <% new_costs = @trip.group_costs.collect { |cost| cost.price }  %>
                  <% new_total = new_costs.inject(:+) %>
                  <span style="color:black">Total Cost : <%= new_total %></span> <br>
                  <span style="color:black">Total Per Person : <%= new_total / @trip.members.count %></span>
                <% end %>
              </div>
            </div>

          </div>


		  	</div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-list"></i><%=link_to "Delete Trip",  trip_path(@trip), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></h4>
          </div>
        </div>
			</div>

		</section>

    <!-- GOOGLEMAPS -->
    <section class="board-bgd col-md-8">
      <div id="panel">
        <form>
          Start:<br>
           <input id="start" type="text" name="end" value="<%= @trip.origin%>"><br>
          End:<br>
           <input id="end" type="text" name="end" value="<%= @trip.destination%>">
        </form>
      </div>
      <div id="map-canvas"></div>
    </section>
	</div>
</section>

<!-- start of airbnb listings -->
<section class="section-xlg container">
  <% if @trip.links.count != 0 %>
    <h2 class="lg-title">Accomodations</h2>
  <% end %>

 <div class="cbp-panel">
    <!-- filter -->
<!--     <div id="filters-container" class="cbp-l-filters-work filter-tabs">
      <div data-filter="*" class="cbp-filter-item cbp-filter-item-active">SHOW ALL</div>
      <div data-filter=".identity" class="cbp-filter-item">IDENTITY<div class="cbp-filter-counter">3</div></div><div data-filter=".web-design" class="cbp-filter-item">WEB DESIGN<div class="cbp-filter-counter">4</div></div>
      <div data-filter=".graphic" class="cbp-filter-item">GRAPHIC<div class="cbp-filter-counter">2</div></div>
      <div data-filter=".logos" class="cbp-filter-item">LOGO<div class="cbp-filter-counter">2</div></div>
    </div> -->

    <!-- content -->
       <div class="row" id="hotel-row">

        <% if @trip.links != nil %>
          <% @trip.links.each do |link| %>

              <% arr_links = link["urls"].split(',') %>
              <% arr_links.each do |url| %>
               
                <div class="col-md-4">
                  <a href="<%= url %>" class="embedly-card"></a>
                </div>
              <% end %>
          <% end %>
        <% end %>
      </div>
    <!-- end content -->

    <!-- load more -->
    <div class="space"></div>

<!--     <div class="cbp-l-loadMore-button"><a href="assets/ajax/work/loadMore.html" class="cbp-l-loadMore-button-link btn btn-primary btn-xlg">LOAD MORE</a></div> -->

    <!-- end section -->
  </div>
</section>

<!-- <blockquote class="embedly-card">
  <h4><a href="http://embed.ly/docs">Documentation</a></h4>
  <p>
    Embedly's Documentation is the best.
  </p>
</blockquote> -->
<!-- end of airbnb listings -->



<section class="section-xlg container">
  <h2 class="lg-title">Trip Journal</h2>
  <p class="lg-subtitle text-center">Post comments, pics and memories!</p>
  <div class="space-lg"></div>
    <div class="md-overlay"></div>
    <div class="timeline" id="newsFeed">
      <div class="label-month">June 2015</div>
        <div class="row box-feed">
          <div class="col-sm-6">
            <div class="box-post left">
              <div class="space-md"></div>
                <h3>Day 1</h3>
                <p class="text-block">Picked up everyone! Trip is underway. Josh was running late, so he had to buy everyone donuts and tea. Make sure no one adds those to the expenses. So stoked for this trip you guys!</p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="box-post right">
              <p class="text-block">2:30pm on day 2. In deep need of a coke. Pit stop for snacks.<p>
              <%#= #image_tag 'pics/roadtrip600X300.jpg' %>
              <div class="space-md"></div>
              <h3>Day 2</h3>
              <p class="text-block">Waruna has taken control of the playlist. Santana is playing right now. Can't wait to see the falls and hike the appalachian trail.</p>
            </div>
          </div>
        </div>
        <div class="row box-feed">
          <div class="col-sm-6">
            <div class="box-post left">
              <div class="space-md"></div>
                <h3>List of Places to Go!</h3>
                <p class="text-block">Cathedral, Hot Springs, Waterfall, the Pharmacy, French Cafe, Relae! </p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="box-post right">
              <%#= image_tag 'pics/roadtrip600X300.jpg' %>
              <div class="space-md"></div>
              <h3>Day 3</h3>
              <p class="text-block">Angie is now at the wheel. We saw so many incredible things yesterday! The canyon was amazing. Only 300 miles to the National Park. This is the best trip ever you guys!</p>
            </div>
          </div>
        </div>
          <div class="col-sm-6">
            <div class="box-post right">
              <%#= image_tag 'pics/roadtrip600X300.jpg' %>
              <div class="space-md"></div>
              <h3>Day 4</h3>
              <p class="text-block">DUDE! Can you believe the shoreline? Everyone, we should go out to the local bar tonight. We got a flat tire today, but a friendly passerby helped us change it to our spare.</p>
            </div>
          </div>
        </div>
        <div class="row box-feed">
          <div class="col-sm-6">
          <img src="http://media.tumblr.com/tumblr_m7dj335Llh1rrgb0e.jpg">
            <%#= #image_tag 'pics/roadtrip600X300.jpg' %>
            <div class="box-post left">
              <div class="space-md"></div>
                <h3>Day 5</h3>
                <p class="text-block">We have seen so many wonderful things! Out stores of food are running low, so we need a pit stop soon. Dan attached a sweet Groupie! </p>
            </div>
          </div>
    </div><!-- timeline -->
</section>

<!-- for embedly links -->

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<script type="text/javascript" src="//cdn.embed.ly/player-0.0.10.min.js"></script>




