
<section class="top-section">
	<div class="board-bgd">
			<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1529226.018610346!2d-73.69606700868235!3d41.53093184945187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!3m2!1d40.712783699999996!2d-74.0059413!4m5!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C+MA!3m2!1d42.3600825!2d-71.0588801!5e0!3m2!1sen!2sus!4v1433681071465" width="800" height="600" frameborder="0" style="border:0"></iframe>
	</div>
	<section class="board-panel">
		<h1>
			<%= @trip.name %> <span class="light">Let's Plan It!</span>
			<span><button id="suggest-date">Suggest a new Date</button></span>
			<div class="proposed-dates">
				<!-- <form action="/trips/<%= @trip.id %>" method="PUT"> -->
				<form action="/trips/25" method="POST">
					<input placeholder="Start Date here" data-provide="datepicker" type="text" name="proposed_dates[start]" id="proposed_dates_start">
					<input placeholder="End Date here" data-provide="datepicker" type="text" name="proposed_dates[end]" id="proposed_dates_end">
					<button class="btn btn-primary btn-proposed" id="proposed-now">Save Dates</button>
				</form>

				<%#= fields_for :proposed_dates do |f| %>
				    <%#= f.text_field :start, placeholder: "Start Date here", "data-provide": "datepicker" %>
				    <%#= f.text_field :end, placeholder: "End Date here",  "data-provide": "datepicker" %>

						<%#= f.submit  class: 'btn btn-primary btn-proposed' %>
				<%# end %>

			</div>
		</h1>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
			  <a data-toggle="collapse" data-parent="#accordion" href="#c1">
			    <div class="panel-heading">
			      <h4 class="panel-title"><i class="fa fa-suitcase"></i> Trip Info</h4>
			    </div>
			  </a>
				<div id="c1" class="panel-collapse collapse">
				  <div class="panel-body">
				    <h5 class="title-sm-v2">Trip Info</h5>
				    <p class="text-muted"><%= @trip.description %></p>
				    <ul>
							<li><%= @trip.origin %> to <%= @trip.destination %></li>
							<li class="col-md-6">Sat, Jun 12, 2015<!-- @trip.proposed_date.start--> - Mon, Jun 14, 2015<!-- @trip.proposed_date.end --></li>
						</ul>
				  </div>
				</div><!--c1 -->
			</div><!--panel -->
			<div class="panel panel-default">
			  <a data-toggle="collapse" data-parent="#accordion" href="#c2">
			    <div class="panel-heading">
			      <h4 class="panel-title"><i class="fa fa-users"></i>Who is Coming?</h4>
			    </div>
			  </a>
	      <div id="c2" class="panel-collapse collapse">
	        <div class="panel-body">
	          <h5 class="title-sm-v2">Invite your Friends:</h5>
	          <div class="container panel">
	          	<ul>
						  <%= form_for @trip do |f| %>
						    <li><%= f.label :members %>:</li>
						    <li><%= f.email_field :members, value: "" %></li>
						    <li><%= f.email_field :members, value: "" %></li>
						    <li><%= f.email_field :members, value: "" %></li>
						    <li><%= f.submit 'Send Invitation' %></li>
						  <% end %>
						  </ul>
						</div>
	        </div>
	      </div><!--c2-->
  		</div><!--panel -->
  		<div class="panel panel-default">
			      <a data-toggle="collapse" data-parent="#accordion" href="#c3">
			          <div class="panel-heading">
			              <h4 class="panel-title"><i class="fa fa-phone"></i>How are we going?</h4>
			          </div>
			      </a>
			      <div id="c3" class="panel-collapse collapse">
			          <div class="panel-body">
			              <h5 class="title-sm-v2">Anim pariatur cliche, enim eiusmod high life?</h5>
			              <span class="text-muted">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</span>
			              <div class="space-sm"></div>
			              <h5 class="title-sm-v2">Anim pariatur cliche, enim eiusmod high life?</h5>
			              <span class="text-muted">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</span>
			          </div>
			      </div>
			  </div>
			  <div class="panel panel-default">
			      <a data-toggle="collapse" data-parent="#accordion" href="#c5">
			          <div class="panel-heading">
			              <h4 class="panel-title"><i class="fa fa-credit-card"></i>Where are we staying?</h4>
			          </div>
			      </a>
			      <div id="c5" class="panel-collapse collapse">
			          <div class="panel-body">
			              <h5 class="title-sm-v2">Anim pariatur cliche, enim eiusmod high life?</h5>
			              <span class="text-muted">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</span>
			              <div class="space-sm"></div>
			              <h5 class="title-sm-v2">Anim pariatur cliche, enim eiusmod high life?</h5>
			              <span class="text-muted">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</span>
			          </div>
			      </div>
			  </div>
			</div>
		</aside>

	</div>
</section>

</section>






<section id="transportation" class="panel">
<h2>How are we going?</h2>
<ul>
	<li><a href="">Car Rental</a></li>
	<li><a href="">Bus</a></li>
	<li><a href="">Train</a></li>
	<li><a href="">Other</a></li>
</ul>
</section>

<section id="accomodations" class="panel">
	<h2>Where are we staying?</h2>
	<ul>
		<li><a href="">Best Option</a></li>
		<li><a href="">Option</a></li>
		<li><a href="">Option</a></li>
		<li><a href="">Other</a></li>
	</ul>
</section>

