<section class="top-section edit-board">
	<h2 class="divided"><%= @trip.name %><span>Let's Plan It!</span> </h2>
	<div class="row">
		<section class="board-panel col-md-4">
			<div class="panel-group" id="accordion">
				<!-- TRIP INFO -->
				<div class="panel panel-default">
				  <a data-toggle="collapse" data-parent="#accordion" href="#info">
				    <div class="panel-heading">
				      <h4 class="panel-title"><i class="fa fa-suitcase"></i> Trip Info</h4>
				    </div>
				  </a>
					<div id="info" class="panel-collapse collapse in">
					  <div class="panel-body">
					    <p class="text-muted"><%= @trip.description %></p>
					    <ul>
								<li><%= @trip.origin %> to <%= @trip.destination %></li>
								<li><i class="fa fa-calendar"></i> Sat, Jun 12, 2015<!-- @trip.proposed_date.start--> - Mon, Jun 14, 2015<!-- @trip.proposed_date.end --></li>
							</ul>
					  </div>
					</div><!--c1 -->
				</div>
				<!-- MEMBERS -->
				<div class="panel panel-default">
				  <a data-toggle="collapse" data-parent="#accordion" href="#members">
				    <div class="panel-heading">
				      <h4 class="panel-title"><i class="fa fa-users"></i>Who is Coming?</h4>
				    </div>
				  </a>
		      <div id="members" class="panel-collapse collapse">
		        <div class="panel-body">
		          <h5 class="title-sm-v2">Invite your Friends:</h5>
		          <div class="container panel">
		          	<ul>
							  <%= form_for @trip do |f| %>
							    <li><%= f.label :members %>:</li>
							    <li><span class="pic-thumb"><i class="fa fa-user"></i></span><%= f.email_field :members, value: "" %></li>
							    <li><span class="pic-thumb"><i class="fa fa-user"></i></span><%= f.email_field :members, value: "" %></li>
							    <li><span class="pic-thumb"><i class="fa fa-user"></i></span><%= f.email_field :members, value: "" %></li>
							    <li><span class="pic-thumb"><i class="fa fa-user-plus"></i></span></i><%= link_to 'Invite More', :path => '#' %></li>
							    	<li class="col-md-6"><%= f.submit 'Send Invitation', :class => 'btn btn-primary' %></li>
							  <% end %>
							  </ul>
							</div>
		        </div>
		      </div><!--members-->
	  		</div><!--panel -->
	  		<!-- TRANSPORTATION -->
	  		<div class="panel panel-default">
		      <a data-toggle="collapse" data-parent="#accordion" href="#transportation">
	          <div class="panel-heading">
	            <h4 class="panel-title"><i class="fa fa-car"></i> How are we going?</h4>
	          </div>
		      </a>
		      <div id="transportation" class="panel-collapse collapse">
	          <div class="panel-body">

	          	<ul class="row icons">
								<li class="col-md-3 selected"><i class="fa fa-check-square-o"></i> <i class="fa fa-car"></i></li>
								<li class="col-md-3"><i class="fa fa-square-o"></i> <i class="fa fa-bus"></i></li>
								<li class="col-md-3"><i class="fa fa-square-o"></i> <i class="fa fa-train"></i></li>
								<li class="col-md-3"><i class="fa fa-square-o"></i> <i class="fa fa-rocket"></i></li>
							</ul>
		          <ul>
		          	<li>Economy</li>
								<li>Kia Rio or similar**</li>
								<li>Unlimited miles</li>
								<li>Distance 4.1 miles</li>
								<li> x 4  x 1  x 1</li>
		          </ul>
	          </div>
		      </div>
				</div>
				<!-- ACCOMODATION -->
				<div class="panel panel-default">
		      <a data-toggle="collapse" data-parent="#accordion" href="#accomodation">
	          <div class="panel-heading">
	            <h4 class="panel-title"><i class="fa fa-bed"></i> Where are we staying?</h4>
	          </div>
		      </a>
          <div id="accomodation" class="panel-collapse collapse">
            <div class="panel-body">
              <h5 class="title-sm-v2">Add Your AirBNB locations:</h5>
              <div class="container panel">
                <ul>
                <%= form_for @link, url: {action: :hotels, controller: :links}, method: :post do |f| %>
                    <li><%= f.label :links %>:</li>
                    <%= f.hidden_field :trip_id, value: @trip.id %>
                    <li><span class="pic-thumb"><i class="fa fa-thumb-tack"></i></span><%= f.text_field :urls, name: "urls[]" %></li>
                    <li><span class="pic-thumb"><i class="fa fa-thumb-tack"></i></span><%= f.text_field :urls, name: "urls[]" %></li>
                    <li><span class="pic-thumb"><i class="fa fa-thumb-tack"></i></span><%= f.text_field :urls, name: "urls[]" %></li>
                    <li class="col-md-6"><%= f.submit 'Save Places', :class => 'btn btn-primary' %></li>
                <% end %>
                </ul>
              </div>
            </div>
          </div><!--members-->
		      <div id="accomodation" class="panel-collapse collapse">
		        <div class="panel-body">
		          <iframe src="https://www.airbnb.com/rooms/6523777?checkin=06%2F08%2F2015&checkout=06%2F17%2F2015&s=TiXq" width="200" height="200" frameborder="0" style="border:0"></iframe>
		         </div>
		      </div>
		  	</div>
		  	<!-- ITEMS -->
				<div class="panel panel-default">
		      <a data-toggle="collapse" data-parent="#accordion" href="#items">
	          <div class="panel-heading">
	            <h4 class="panel-title"><i class="fa fa-list"></i>Things to Bring</h4>
	          </div>
		      </a>
		      <div id="items" class="panel-collapse collapse">
		        <div class="panel-body">
		          <h5 class="title-sm-v2">Anim pariatur cliche, enim eiusmod high life?</h5>
		         </div>
		      </div>
		  	</div>
			</div>
		</section>
		<section class="board-bgd col-md-8">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1529226.018610346!2d-73.69606700868235!3d41.53093184945187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!3m2!1d40.712783699999996!2d-74.0059413!4m5!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C+MA!3m2!1d42.3600825!2d-71.0588801!5e0!3m2!1sen!2sus!4v1433681071465" width="800" height="600" frameborder="0" style="border:0"></iframe>
		</section>
	</div>
</section>

<!-- start of airbnb listings -->
<section class="section-xlg container">
  <h2 class="lg-title">Accomodations</h2>

  <div class="cbp-panel">
    <!-- filter -->
    <div id="filters-container" class="cbp-l-filters-work filter-tabs">
      <div data-filter="*" class="cbp-filter-item cbp-filter-item-active">SHOW ALL</div>
      <div data-filter=".identity" class="cbp-filter-item">IDENTITY<div class="cbp-filter-counter">3</div></div><div data-filter=".web-design" class="cbp-filter-item">WEB DESIGN<div class="cbp-filter-counter">4</div></div>
      <div data-filter=".graphic" class="cbp-filter-item">GRAPHIC<div class="cbp-filter-counter">2</div></div>
      <div data-filter=".logos" class="cbp-filter-item">LOGO<div class="cbp-filter-counter">2</div></div>
    </div>

    <!-- content -->
       <div class="row">
        <!-- <div class="col-md-4">
          <blockquote class="embedly-card"><h4><a href="https://www.airbnb.com/rooms/3539149">Sag Harbor Beach House in Sag Harbor</a></h4><p>Apartment in Sag Harbor, United States. Please Read All: This is my Summer home, Upstairs is living quarters for my family when they come to visit, downstairs are 2 studio apartments, one of which is my office. The rental unit is only available when I dont have family here. <a href="https://www.airbnb.com/s/Sag-Harbor--NY?af=21215988&c=embedly">View all listings in Sag Harbor</a></p></blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>

        <div class="col-md-4">
          <a class="embedly-card" href="http://www.hotels.com/hotel/details.html?q-room-0-adults=2&MGT=1&SYE=3&q-room-0-children=0&tab=description&YGF=0&ZSX=0&q-localised-check-out=06/10/15&q-localised-check-in=06/09/15&JHR=2&pa=1&hotel-id=187354&FPQ=3&WOD=2&WOE=3&ZSX=0&SYE=3&MGT=1&YGF=0&WOD=1&WOE=2&JHR=2USD&FPQ=3USD">The Atlantic in Southampton</a>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>

        <div class="col-md-4">
          <blockquote class="embedly-card"><h4><a href="https://www.airbnb.com/rooms/3539149">Sag Harbor Beach House in Sag Harbor</a></h4><p>Apartment in Sag Harbor, United States. Please Read All: This is my Summer home, Upstairs is living quarters for my family when they come to visit, downstairs are 2 studio apartments, one of which is my office. The rental unit is only available when I dont have family here. <a href="https://www.airbnb.com/s/Sag-Harbor--NY?af=21215988&c=embedly">View all listings in Sag Harbor</a></p></blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div> -->

        <% @trip.links.each do |link| %>
            <%= binding.pry %>
            <%# if link != nil %>
              <% arr_links = link["urls"].split(',') %>
              <% arr_links.each do |url| %>
                <div class="col-md-4">
                  <a href=<%= url %> id="someID">Check</a>
                </div>
              <% end %>
            <%# end %>
        <% end %>
      </div>
    <!-- end content -->

    <!-- load more -->
    <div class="space"></div>

<!--     <div class="cbp-l-loadMore-button"><a href="assets/ajax/work/loadMore.html" class="cbp-l-loadMore-button-link btn btn-primary btn-xlg">LOAD MORE</a></div> -->

    <!-- end section -->
  </div>
</section>

<!-- <a href="http://embed.ly" class="embedly-card">Embedly</a>

<blockquote class="embedly-card">
  <h4><a href="http://embed.ly/docs">Documentation</a></h4>
  <p>
    Embedly's Documentation is the best.
  </p>
</blockquote> -->
<!-- end of airbnb listings -->



<section class="section-xlg container">
  <h2 class="lg-title">Trip Journal</h2>
  <p class="lg-subtitle text-center">Post comments, pics and memories!</p>
  <div class="space-lg"></div>
    <div class="md-overlay"></div>
    <div class="timeline" id="newsFeed">
      <div class="label-month">September 2014</div>
        <div class="row box-feed">
          <div class="col-sm-6">
            <div class="box-post left">
              <div class="space-md"></div>
                <h3>Top 10 places to Visit</h3>
                <p class="text-block">Food Market, Aquarium, bla, bla, bla</p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="box-post right">
              <%= image_tag 'pics/roadtrip600X300.jpg' %>
              <div class="space-md"></div>
              <h3>Day 2</h3>
              <p class="text-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam posuere lacus quis dolor. Integer imperdiet lectus quis justo. Ut enim ad minima veniam.</p>
            </div>
          </div>
        </div>
        <div class="row box-feed">
          <div class="col-sm-6">
            <div class="box-post left">
              <div class="space-md"></div>
                <h3>Top 10 places to Visit</h3>
                <p class="text-block">Food Market, Aquarium, bla, bla, bla</p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="box-post right">
              <%= image_tag 'pics/roadtrip600X300.jpg' %>
              <div class="space-md"></div>
              <h3>Day 2</h3>
              <p class="text-block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam posuere lacus quis dolor. Integer imperdiet lectus quis justo. Ut enim ad minima veniam.</p>
            </div>
          </div>
        </div>
    </div><!-- timeline -->
</section>

<!-- for embedly links -->

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<script type="text/javascript" src="//cdn.embed.ly/player-0.0.10.min.js"></script>




