<section class="jumbotron whole-page registration">
  <div class="container">
    <h1>Your New Adventure Starts Here...</h1>
    <div class="form-panel">
      <h2 class="divided">Sign up</h2>
      <ul>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <li><%= f.label :name %></li>
          <li><%= f.text_field :name, autofocus: true %></li>
          <li><%= f.label :email %></li>
          <li><%= f.email_field :email, autofocus: true %></li>
          <li><%= f.label :password %></li>
          <% if @minimum_password_length %>
            <li><em>(<%= @minimum_password_length %></em> characters minimum)</em></li>
          <% end %>
          <li><%= f.password_field :password, autocomplete: "off" %></li>
          <li><%= f.label :password_confirmation %></li>
          <li><%= f.password_field :password_confirmation, autocomplete: "off" %></li>
          <li><%= f.submit "Sign up", :class => "btn btn-primary" %></li>   
      <% end %>
       </ul>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
