<section class="jumbotron whole-page trouble">
	<div class="container">
		<h1>Having Trouble?</h1>
		<div class="form-panel">
			<h2 class="divided">Reset Your Password</h2>
			<ul>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  			<li><%= devise_error_messages! %></li>
		    <li><%= f.label :email %> <%= f.email_field :email, autofocus: true %></li>
		    <li><%= f.submit "Send me the instructions", :class=>'btn btn-primary' %></li>
			<% end %>
			</ul>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</section>
